{% extends "nav.html" %}

  <!-- Your page content -->
  {% block content %}
  {{ super() }}
  <div class="container">
    <table id="table" data-toggle="table" data-url="api/dota188">
      <thead>
        <tr>
          <th data-field="name">饰品名称</th>
          <th data-sortable="true" data-field="price">价值（美刀）</th>
          <th data-sortable="true" data-field="c5_price">售价（人民币）</th>
          <th data-sortable="true" data-field="rate">比例</th>
          <th data-field="timestamp">更新时间</th>
        </tr>
      </thead>
    </table>
  </div>
  {% endblock %}