{% extends "nav.html" %}

  <!-- Your page content -->
  {% block content %}
  {{ super() }}
    <div class="container">
    <div align="right" class="col-md-12" id="tab-1-content">
      <h2>SSY.cool</h2>
      STEAM: <a href="https://steamcommunity.com/profiles/76561198099311044">obliv[io]us</a><br>
    </div>
    </div>

    <div class="container lead">
    <hr class="star-primary">
    <div align="left" class="col-md-5" id="tab-2-content">
      <p>
        一个饰品爱好者的网站。
      </p>
    </div>
    </div>
  {% endblock %}

  {% block footer %}
    <footer class="text-center fixed-bottom">
      <div class="copyright">
      ©2020  <i class="fa fa-heart"></i>
      <span> SSY</span>
      </div>
      <span class="powered-by"><a href="http://www.beian.miit.gov.cn/" target="_blank">浙ICP备19015867号-2</a></span>
      <span> 由 NGINX 强力驱动！</span>
    </footer>
  {% endblock %}