{% extends "nav.html" %}

  <!-- Your page content -->
  {% block content %}
  {{ super() }}
    <div class="container">
    <div align="right" class="col-md-12" id="tab-1-content">
      <h2>SSY.cool</h2>
      <i class="fa steam-square"></i>STEAM: <a href="https://steamcommunity.com/profiles/76561198099311044">obliv[io]us</a><br>
    </div>
    </div>

    <div class="container lead">
    <hr class="star-primary">
    <div align="left" class="col-md-5" id="tab-2-content">
      <p>
        一个饰品爱好者的网站.
      </p>
    </div>
    </div>
  {% endblock %}
