{% from 'bootstrap/nav.html' import render_nav_item %}

<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='images/icons.png') }}">
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <script src="https://kit.fontawesome.com/35b1457614.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block google_analytics %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165557276-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165557276-1');
    </script>
    {% endblock %}

    <title>SSY.cool</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <div class="navbar-nav">
      {{ render_nav_item('index', 'HOME') }}
      {{ render_nav_item('dota188', 'DOTA188') }}
      {{ render_nav_item('vpgame', 'VPGAME') }}
      {{ render_nav_item('slcsgo', 'STARLUCK') }}
    </div>
    </div>
    </nav>

    <!-- Your page content -->
    {% block content %}

    {% endblock %}

    <!-- Your page footer -->
    {% block footer %}
    <footer class="text-center">
      <div class="copyright">
      ©2020  <i class="fa fa-heart"></i>
      <span> SSY</span>
      </div>
      <span class="powered-by"><a href="http://www.beian.miit.gov.cn/" target="_blank">浙ICP备19015867号-2</a></span>
      <span> 由 NGINX 强力驱动！</span>
    </footer>
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    {% endblock %}
  </body>
</html>
